body {
  background-color: #0b0d1e;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

span {
  color: #973aa8;
}

h1 {
  padding: 60px 60px 0 60px;
  color: white;
  font-size: 2rem;
}

p {
  padding: 0 60px 0 60px;
  margin: 0;
}

h2 {
  padding: 35px 60px 0 60px;
  margin: 0;
}

h3 {
  color: white;
  font-weight: lighter;
}

img {
  float: right;
  background: #e0aaff;
  border-radius: 0 10px 10px 0;
  margin-left: 80px;
  opacity: 0.4;
}

.main{
  padding: 0 60px 40px 60px;
  line-height: 2;
}

.main-card{
  border-radius: 10px;
  margin: 150px auto;
  background-color: #17012e;
  text-align: left;
  width: 70%;
  height: 446px;
}

.stats{
  padding: 0;
  margin:0;
  position: relative;
  left: 200px;
  bottom: 49px;
}

.stat{
  padding:0;
  margin:0;
  position: relative;
  left: 340px;
  bottom: 98px;
}
